body {
  width: 100%;
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 0, 0, 0.1); /* opacité à la fin */
}
