
* {
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

/* tete de page */

header.header {
  display: flex;
  align-items: center;
}

header.header img {
  width: 150px;
}

section.top-page {
  background: url('../assets/background.png');
  background-size: cover;
  height: 95vh;
  padding: 25px;
}

.landing-page {
  position: relative;
  padding: 20px 50px;
}

.big-title {
  color: #f4f4f4;
  font-size:  12rem;
  font-family: 'Abril FatFace', cursive;
  font-weight: 100;
  width: 60%;
}

/* menu de navigation */

nav.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav.nav li a {
  font-size: 1.5rem;
  color: #f4f4f4;
  text-decoration: none;
  padding: 20px;
}